<div class="navbar">
    <a href="./summary.html"><img class="mobile-logo" src="./assets/img/favicon/JOIN-logo-dark.png"
            alt="JOIN Logo"></a>
    <span class="navbar-title">Kanban Project Management Tool</span>
    <div class="profile-container">
        <a href="./help.html"><img class="help-img"
                src="./assets/img/help/help_icon_big.png" alt="help"></a>
        <div class="profile" id="profile-button" onclick="openSubMenu()">
            <span>G</span><span></span>
        </div>
    </div>
</div>
<div class="sub-menu d-none" id="user-sub-menu">
    <div class="sub-menu-choice"><a class="imprint-link" href="./legal_notice.html">Legal
            Notice</a></div>
    <div class="sub-menu-choice"><a class="imprint-link"
            href="./privacy_policy.html">Privacy Policy</a></div>
    <div class="sub-menu-choice"><a class="imprint-link" href="#" onclick="logoutCurrentUser()">Logout</a></div>
</div>